body {
    font-family: 'Poppins', sans-serif;
   background: linear-gradient(to right,  #550e01, #5e1414, #8B0000);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

    
}

.registro-container{
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(68, 0, 0, 0.178);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.registrar-usuario h2{
    margin-bottom: 30px;
    color: #333;
    font-weight: 600;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
}


.input-group label{
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 14px;
    font-weight: 600;
}

.input-group input{
    width: 100%;
    padding: 12px 15px;
    padding-right: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
}
.input-group input:focus{
    border-color: #9face6; 
    outline: none;
    box-shadow:0 0 5px rgba(159, 172, 230, 0.5);

}

.btResgistrar{
    width: 100%;
    padding: 15px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
    
.btResgistrar:hover {
    background: #810000;
}

/* Estilo para el icono del ojo */
#togglePassword {
    position: absolute;
    right: 10px; /* A 10px del borde derecho */
    top: 43px;   /* Ajusta este valor para centrarlo verticalmente según la altura de tu label + input */
    cursor: pointer;
    color: #666; /* Color gris suave */
}

#togglePassword:hover {
    color: #333; /* Se oscurece al pasar el mouse */
}

.links {
    margin-top: 25px;
    font-size: 14px;
    display: flex;
    justify-content: center;

    
}

.links a {
    color: #8A8A8A;
    text-decoration: none;
    transition: color 0.3s;
}

.links a:hover {
    color: #000000;
    text-decoration: underline;
}